.markdown-body {
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  margin: 0;
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  white-space:pre-wrap;
}
.markdown-body pre {
  padding: 16px 16px 8px 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;
  white-space: pre;
}