.markdown-body {
  white-space: pre-wrap;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #d9d9e3;
  box-shadow: 0 3px 6px rgba(140,149,159,0.15);
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
}
.markdown-body pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 0px 0px 4px;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 6px 10px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 0px 0px 8px 8px;
}